<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | JonnyJE Technical Support</title>
    </head>
    <body>
        <div class="header_and_nav">
            <header>
                <h1>JonnyJE Technical Support</h1>
            </header>
            <nav>
                <p>
                    <a href="{% url 'home:home_page'%}" id="home_page">Home</a> -
                    <a href="{% url 'about_page:about_page' %}" id="about_page">About</a> -
                    <a>Compare</a> -
                    <a href="{% url 'contact:contact' %}" id="contact_page">Contact</a> -
                    <a>Our Work</a> -
                    <a>Services</a>
                </p>
            </nav>
        </div>
        {% block content %}{% endblock %}
        <footer>Ⓒ 2018 JonnyJE Technical Support</footer>
    </body>
</html>
